# Copier en .env et renseigner les valeurs (ne pas committer .env)

JWT_SECRET=
JWT_EXPIRE_HOURS=24

PG_HOST=
PG_NAME=
PG_USER=
PG_PASSWORD=

OS_HOST=
OS_PORT=9200

# Optionnel : chemin absolu vers le dossier frontend si différent du défaut
# FRONTEND_DIR=
